*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.layout {
    max-width: 1920px;
    min-width: 300px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 3em;
    background-color: rgb(0, 0, 0);
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1em;
}

li {
    list-style-type: none;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 1.25px;
    cursor: pointer;
}

img {
    display: block;
    width: 70%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

h1 {
    width: 100%;
    font-size: 3rem;
    margin: 2em 0 1.5em;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 2em 0;
}

h3 {
    text-align: center;
}

footer {
    width: 100%;
    background-color: black;
    padding: 3em;
    text-align: center;
}

small {
    color: white;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
}